<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/header') -%>
</head>

<body>
    <div class="container">
        <br><br><br><br>
        <h1 class="text-center text-white">Bienvenido a la aplicacion de Crecimiento Exponencial</h1>
        <br><br>
        <h3 class="text-center text-white">Selecciona el metodo para calcular</h3>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/duplication">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h4 class="text-center text-dark">Duplicidad</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h4 class="text-center text-dark">Tasa relativa</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>